{% extends 'main.html' %}
{% load static%}


{% block content %}
    <body id="top">
    {% include 'navbar.html' %}
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url({{ siteSetting.bk_image.url }})"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="{{ profile.profile_image.url }}" alt="Image"/></a></div>
          <div class="h2 title">{{ profile.name }}</div>
          <p class="category text-white">{{ profile.intro }}</p>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
            {% if profile.resume_file %}
            <a class="btn btn-primary" target="_blank" href="{{ profile.resume_file.url }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
            {% endif %}
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="{{ profile.social_github }}" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a>
              <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="{{ profile.social_twitter }}" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="{{ profile.social_linkedin }}" rel="tooltip" title="Follow me on Linkedin"><i class="fa fa-linkedin"></i></a>
              <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="{{ profile.social_youtube }}" rel="tooltip" title="Follow me on Youtube"><i class="fa fa-youtube"></i></a>
              <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="{{ profile.telegram }}" rel="tooltip" title="Follow me on Telegram"><i class="fa fa-telegram"></i></a>
              <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="{{ profile.whatsapp }}" rel="tooltip" title="Follow me on Whatsapp"><i class="fa fa-whatsapp"></i></a>
              <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="{{ profile.skype }}" rel="tooltip" title="Follow me on Skype"><i class="fa fa-skype"></i></a>
{#              <a class="btn btn-default btn-round btn-lg btn-icon" href="{{ profile.microsoft_team }}" rel="tooltip" title="Follow me on Microsoft Teams"><i class="fa fa-microsoft-teams"></i></a>#}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
                {{ profile.bio | linebreaksbr }}
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">{{ profile.age }}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">{{ profile.email }}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Mobile:</strong></div>
              <div class="col-sm-8">{{ profile.mobile_number }}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">{{ profile.address }}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">{{ profile.language }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
            {% for skill in profile.skill_set.all %}
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">{{ skill }}</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ skill.level_experience }}%;"></div><span class="progress-value">{{ skill.level_experience }}%</span>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
      {% for experience in profile.employment_set.all %}
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>{{ experience.start_date }} - {{ experience.end_date }}</p>
            <div class="h6">{{ experience.employer }}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{ experience.job_title }}</div>
            <p>{{ experience.description | linebreaksbr}}</p>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
      {% for educate in profile.education_set.all %}
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>{{ educate.start_date }} - {{ educate.end_date }}</p>
            <div class="h5">{{ educate.degree }}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{ educate.major }}</div>
            <p class="category">{{ educate.school }}</p>
            <p>{{ educate.description }}</p>
          </div>
        </div>
      </div>

    </div>
       {% endfor %}
  </div>
</div>

<div class="section" id="reference">
  <div class="container cc-reference">
    <div class="h4 mb-4 text-center title">References</div>
    <div class="card" data-aos="zoom-in">
      <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
        <ol class="carousel-indicators">
          <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
          <li data-target="#cc-Indicators" data-slide-to="1"></li>
          <li data-target="#cc-Indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for reference in profile.reference_set.all %}
          <div class="carousel-item {{ forloop.first|yesno:"active, " }}">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="{{ reference.reference_image.url }}" alt="Image"/>
                <div class="h5 pt-2">{{ reference.Name }}</div>
                <p class="category">{{ reference.job_title }}</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p>{{ reference.description }}</p>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url({{ siteSetting.map.url }})">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="" class="form" method="POST">
                     {% csrf_token %}
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                              {{ messageForm.name }}
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                              {{ messageForm.subject }}
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                              {{ messageForm.email }}
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                              {{ messageForm.body }}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                            <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">{{ profile.address }}</p>
                    <p class="mb-0"><strong>Mobile</strong></p>
                    <p class="pb-2">{{ profile.mobile_number }}</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>{{ profile.email }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center">
          <a class="cc-github btn btn-link" target="_blank" href="{{ profile.social_github }}"><i class="fa fa-github fa-2x " aria-hidden="true"></i></a>
          <a class="cc-twitter btn btn-link " target="_blank" href="{{ profile.social_twitter  }}"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
          <a class="cc-google-plus btn btn-link" target="_blank" href="{{ profile.social_linkedin }}"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
          <a class="cc-instagram btn btn-link" target="_blank" href="{{ profile.social_youtube }}"><i class="fa fa-youtube fa-2x " aria-hidden="true"></i></a>
          <a class="cc-instagram btn btn-link" target="_blank" href="{{ profile.telegram }}"><i class="fa fa-telegram fa-2x " aria-hidden="true"></i></a>
          <a class="cc-instagram btn btn-link" target="_blank" href="{{ profile.whatsapp }}"><i class="fa fa-whatsapp fa-2x " aria-hidden="true"></i></a>
          <a class="cc-instagram btn btn-link" target="_blank" href="{{ profile.skype }}"><i class="fa fa-skype fa-2x " aria-hidden="true"></i></a>

      </div>
      <div class="h4 title text-center">Designer : {{ siteSetting.designer }}</div>
      <div class="text-center text-muted">
        <p>{{ siteSetting.copy_right }}<br>Front-End : {{ siteSetting.frontend_technology }}<br>Back-End : {{ siteSetting.backend_technology }}</p>
      </div>
    </footer>
    <script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/now-ui-kit.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
{% endblock %}